<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sg.cj.lib_common">

  <!-- 联网 if you want to load images from the internet -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- 读本地if you want to load images from a file OR from the internet -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <!-- 写本地 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


  <uses-permission android:name="android.permission.CAMERA" />




</manifest>
